.detail-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 700px;
  height: 350px;
  position: relative;
  color: #2d2d2d;
  background-color: #b2e5e6;
  letter-spacing: 1px;
  border: 25px solid #a0cdcf;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: auto;
}

.detail-card .card-description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  width: auto;
  height: 100%;
}

.card-description-title {
  color: black;
  font-size: 18px;
}

.card-description-profession {
  display: block;
  font-size: 16px;
}

.card-description-company {
  display: block;
  font-size: 14px;
  cursor: pointer;
}

.card-description-company:hover {
  text-decoration: underline;
}

.detail-card.card-description .card-description-social {
  position: absolute;
  bottom: 40px;
}

.card-description-social .card-description-social-follow {
  display: block;
  margin-bottom: 8px;
  color: #555572;
  font-size: 14px;
}

.detail-card .card-image {
  width: 250px;
  height: 100%;
  object-fit: cover;
}

.card {
  margin: auto;
}

.navbar {
  background-color: #e3f2fd;
}

a {
  text-decoration: none !important;
  color: #fff !important;
  display: block;
  margin: 0 10px;
}

.mobile-link {
  color: #000 !important;
}

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 60px;
  text-align: center;
  font-size: 10px;
}

.spinner>div {
  background-color: #00d1b2;
  height: 100%;
  width: 6px;
  margin: 0 2px;
  display: inline-block;
  -webkit-animation: stretchDelay 1.2s infinite ease-in-out;
  animation: stretchDelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchDelay {

  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }

  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes stretchDelay {

  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }

  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

.MuiStack-root {
  padding: 0 !important;
  overflow: visible !important;
}

.MuiTextField-root {
  min-width: 100% !important;
}

.albumList ul {
  padding: 0;
  list-style: none;
}

.galleryList .title_wraper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;

}

.galleryImg-wraper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.galleryImg-wraper img {
  object-fit: cover;
  height: 150px;
  width: 150px;
  margin-right: 10px;
}

.albumList li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}